{% extends "::base.html.twig" %}

{% block title %}HrisTrainingBundle:Facilitator:addFacilitator{% endblock %}

{% block body %}
<h1>Welcome to the Facilitator:addFacilitator page</h1>
{% endblock %}
