{% extends "::base.html.twig" %}

{% block title %}HrisTrainingBundle:instanceRecord:addrecordInstance{% endblock %}

{% block body %}
<h1>Welcome to the instanceRecord:addrecordInstance page</h1>
{% endblock %}
