{% extends "::base.html.twig" %}

{% block title %}HrisTrainingBundle:instanceRecord:deleterecordInstance{% endblock %}

{% block body %}
<h1>Welcome to the instanceRecord:deleterecordInstance page</h1>
{% endblock %}
