{% extends "::base.html.twig" %}

{% block title %}HrisTrainingBundle:instanceRecord:editrecordInstance{% endblock %}

{% block body %}
<h1>Welcome to the instanceRecord:editrecordInstance page</h1>
{% endblock %}
