{% extends "::base.html.twig" %}

{% block title %}HrisTrainingBundle:instanceRecord:saverecordInstance{% endblock %}

{% block body %}
<h1>Welcome to the instanceRecord:saverecordInstance page</h1>
{% endblock %}
